.diaryList {
    padding-top:70px;
    text-align: center;
}

.addFormContainer {
    padding: 20px;
    margin-bottom: 40px;
    background: rgba(0,0,0,.05);
    border-bottom: 2px solid rgba(0,0,0,.1);
}