.list{
    width: 100%;
    margin-top: 10px;
    padding-bottom: 40px;
    .listTitle{
        font-size: 24px;
        font-weight: 600;
        margin-left: 50px;
    }

    .wrapper{
        position: relative;

.sliderArrow{
    width: 50px;
    height: 100%;
    background-color: rgb(30, 30, 30, 0.5);
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;

    //position my left slider arrow on the left
    &.left {
        left: 0;
    }

     //position my right slider arrow on the right
    &.right{
        right: 0;
    }
}

        .container{
            margin-left: 50px;
            margin-top: 10px;
            display: flex;
            width: max-content;
            transform: translateX(0px); //on the x axis -
            transition: all 1s ease; // then slide all items, duration of 1s, ease. This is for the slider items.
        }
    }
}